body {
    color: white;
    background: grey;
    margin: 0;
}
.topbar {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: red;
    position: fixed;
    width: 100%;
    height: 10%;
}
.topbar > a > p {
    padding: 20px;
}
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.subtitle {
    display: flex;
    justify-content: center;
}
.projects {
display: grid;
min-height: 500px;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr;
grid-gap: 20px;
}
.projects > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pro > img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}
.pro > h3 {
    padding: 5%;
}
.pro1 {background: red;}
.pro2 {background: blue;}
.pro3 {background: green;}
.pro4 {background: yellow;}
.pro5 {background: pink;}
.pro6 {background: orange;}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.links > a {
    margin-right: 20px;
}
.links > a > img {
    margin-right: 5px;
    width: 20px;
    height: 20px;
}